body {
  @apply m-0 p-0 bg-slate-600 font-base;
  word-spacing: normal;
  word-break:break-word;
  -webkit-font-smoothing:antialiased


}

table {
  @apply border-collapse border-0
}

img {
  @apply border-0 h-auto leading-none outline-none no-underline max-w-full align-middle;
}

:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

.btn {
  @apply rounded-md py-4 px-6 cursor-pointer bg-blue-500 text-white no-underline
}

.isPrimary {
  @apply bg-red-600
}
.btn:hover {
  @apply brightness-90;
}

