<script props>
  module.exports = {
    class: props.class || ''
  }
</script>

<table class="w-full border-0 p-0 align-top" data-component="card" data-testid="card">
  <tr>
    <td class="p-2 ">
      <table
        class="w-full font-sans rounded bg-slate-300 text-slate-800 dark:bg-gray-700 dark:text-slate-200 ogsc:bg-gray-700 ogsc:text-slate-200 {{class}}" data-testid="card-body">
        <tr>
          <td class="{{class}}">
            <slot:image />
            <slot:title />
            <slot:description />
            <x-spacer size="16px" />
            <slot:cta />
            <x-spacer size="16px" />
            <yield />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>