<script props>
  module.exports = {
    logoLink: props.logoLink || '',
    logoSrc: props.logoSrc || '',
    logoSrcDark: props.logoSrcDark || '',
    mainTitle: props.mainTitle || 'Header Title',
  }
</script>

<table class="w-full" data-component="header">
  <tr role="row">
    <td class="text-center">
      <x-spacer height="1"></x-spacer>
      <x-logo logoLink="{{ logoLink }}" logoSrc="{{ logoSrc }}" logoSrcDark="{{ logoSrcDark }}" class="m-auto" />
    </td>
  </tr>
  <tr>
    <td>
      <x-spacer height="1"></x-spacer>
      <x-atoms.title tag="h1" class="text-center mt-6 px-6">{{ mainTitle }}</x-atoms.title>
    </td>
  </tr>
</table>