<script props>
  module.exports = {
    logoLink: props.logoLink || '',
    logoLinkTitle: props.logoLinkTitle || '',
    logoSrc: props.logoSrc || '',
    logoSrcDark: props.logoSrcDark || '',
  }
</script>


<a href="{{ logoLink }}" title="{{ logoLinkTitle }}" target="_blank" class="no-underline {{class}} inline-block"
  data-component="logo">
  <x-atoms.image imgSrc="{{ logoSrcDark }}" alt="Logo"
    class="hidden dark:block ogsc:block border-0 max-w-[100px] w-full " imgWidth="100" />
  <x-atoms.image imgSrc="{{ logoSrc }}" alt="Logo" class="block dark:hidden ogsc:hidden border-0 max-w-[100px] w-full"
    imgWidth="100" />
</a>