<script props>
  module.exports = {
    logoLink: props.logoLink || '',
    logoLinkTitle: props.logoLinkTitle || '',
    logoSrc: props.logoSrc || '',
    logoSrcDark: props.logoSrcDark || '',
  }
</script>

<div>
  <a href="{{ logoLink }}" title="{{ logoLinkTitle }}" target="_blank" class="decoration-none">
    <x-atoms.image imgSrc="{{ logoSrcDark }}" alt="Logo" class="hidden dark:block b-0" imgWidth="600" />
    <x-atoms.image imgSrc="{{ logoSrc }}" alt="Logo" class="block dark:hidden b-0" imgWidth="600" />
  </a>
</div>