<script props>
  module.exports = {
    class: props.class || '',
    productTitle: props.productTitle || page.contents.newsletter.featured.product.title || 'Titre du produit',
    productDescription: props.productDescription || page.contents.newsletter.featured.product.description || 'Description du produit',
    productCta: props.productCta || page.contents.newsletter.featured.product.cta || 'En savoir plus',
  }

</script>
<x-atoms.twocols isResponsive="true" widthLeft="w-1/2" widthRight="w-1/2" hAlign="center" vAlign="top" class="bg-none"
  data-component="product-2cols-img--left">
  <fill:leftColumn>

    <x-atoms.image imgSrc="https://placehold.co/600x400/000000/FFFFFF.png" alt="Product" class="w-full mx-2 sm:mx-0"
      imgWidth="300" />

  </fill:leftColumn>
  <fill:rightColumn>
    <x-atoms.wrapper class="p-4  text-slate-800  dark:text-slate-200 w-full">

      <x-atoms.title tag="h3">{{page.contents.newsletter.featured.product.title}}</x-atoms.title>

      <p>{{ page.contents.newsletter.featured.product.description }}</p>
      <x-spacer height="16px"></x-spacer>
      <x-atoms.btn isPrimary link="https://www.google.fr" title="google" class="no-underline"
        msoLabel="{{ page.contents.newsletter.featured.product.cta }}">
        {{ page.contents.newsletter.featured.product.cta }}
      </x-atoms.btn>
      <x-spacer height="16px"></x-spacer>
    </x-atoms.wrapper>

  </fill:rightColumn>
</x-atoms.twocols>