<script props>
  module.exports = {
    class: props.class || ''
  }

</script>
<x-twocols-div isResponsive="false" widthLeft="w-1/2" widthRight="w-1/2" hAlign="center" vAlign="top" class="bg-none"
  data-component="product-2cols-img--left">
  <fill:leftColumn>

    <x-atoms.image imgSrc="https://placehold.co/600x400/000000/FFFFFF.png" alt="Product" class="w-full mx-2 sm:mx-0"
      imgWidth="300" />

  </fill:leftColumn>
  <fill:rightColumn>
    <x-atoms.wrapper class="p-4  text-slate-800  dark:text-slate-200 w-full">

      <x-atoms.title tag="h3" class="mt-4">Produit 1</x-atoms.title>

      <p>Description du produit</p>
      <x-spacer height="16px"></x-spacer>
      <x-atoms.btn isPrimary link="https://www.google.fr" title="google" class="no-underline" msoLabel="En savoir plus">
        En savoir plus
      </x-atoms.btn>
      <x-spacer height="16px"></x-spacer>
    </x-atoms.wrapper>

  </fill:rightColumn>
</x-twocols-div>