<script props>
  module.exports = {
    hAlign: props.hAlign ? `text-${props.hAlign}` : "",
    vAlign: props.vAlign ? `align-${props.vAlign}` : "",
    widthLeft: props.widthLeft || "",
    widthRight: props.widthRight || "",
    shouldStack: props.isResponsive !== false && props.isResponsive !== "false"
  };
</script>
<if condition="shouldStack">
  <table class="w-full">
    <tr role="row">
      <th role="cell"
        class="{{widthLeft}} {{hAlign}} {{vAlign}} inline-block sm:w-full sm:block font-normal font-base dark:text-white">
        <slot:leftColumn />
        <yield />
      </th>
      <th role="cell"
        class="{{widthRight}} {{hAlign}} {{vAlign}} inline-block sm:w-full sm:block font-normal font-base dark:text-white">
        <slot:rightColumn />
        <yield />
      </th>
    </tr>
  </table>
</if>
<else>
  <table class="w-full">
    <tr role="row">
      <th role="cell" class="{{widthLeft}} {{hAlign}} {{vAlign}} font-base dark:text-white">
        <slot:leftColumn />
        <yield />
      </th>
      <th role="cell" class="{{widthRight}} {{hAlign}} {{vAlign}} font-base  dark:text-white">
        <slot:rightColumn />
        <yield />
      </th>
    </tr>
  </table>
</else>