<script props>
  // safelist: max-w-[600px] max-w-[300px] max-w-[200px] max-w-[400px] max-w-[150px] max-w-[450px]
  const widthMap = {
    'w-full': '600',
    'w-1/2': '300',
    'w-1/3': '200',
    'w-2/3': '400',
    'w-1/4': '150',
    'w-3/4': '450',
  };

  module.exports = {
    hAlign: props.hAlign ? `text-${props.hAlign}` : "",
    vAlignClass: props.vAlign ? `align-${props.vAlign}` : "",
    vAlign: props.vAlign || "top",
    widthLeft: props.widthLeft || 'w-1/2',
    widthRight: props.widthRight || 'w-1/2',
    maxWidthLeft: () => `max-w-[${widthMap[props.widthLeft || 'w-1/2']}px]`,
    maxWidthRight: () => `max-w-[${widthMap[props.widthRight || 'w-1/2']}px]`,
    shouldStack: props.isResponsive !== false && props.isResponsive !== "false",
    msoWidthLeft: widthMap[props.widthLeft] || "300",
    msoWidthRight: widthMap[props.widthRight] || "300"
  };
</script>
<if condition="shouldStack">

  <table class="w-full sm:w-full text-[0px]" width="600" border="0" cellpadding="0" cellspacing="0" role="presentation"
    data-component="twocols-responsive">
    <tr>

      <th width="{{msoWidthLeft}}" valign="{{vAlign}}" align="center"
        class="gmailResponsiveCol {{maxWidthLeft}} w-full {{hAlign}} {{vAlignClass}} inline-block sm:w-full sm:max-w-full font-normal font-base dark:text-white"
        style="font-size: 16px;">
        <slot:leftColumn />
        <yield />
      </th>

      <th width="{{msoWidthRight}}" valign="{{vAlign}}" align="center"
        class="gmailResponsiveCol {{maxWidthRight}} w-full {{hAlign}} {{vAlignClass}} inline-block sm:w-full sm:max-w-full font-normal font-base dark:text-white"
        style="font-size: 16px;">
        <slot:rightColumn />
        <yield />
      </th>

    </tr>
  </table>
</if>
<else>
  <table class="w-full" data-component="twocols">
    <tr>
      <th width="{{msoWidthLeft}}" valign="{{vAlign}}" align="center"
        class="{{maxWidthLeft}} {{hAlign}} {{vAlignClass}} font-base dark:text-white">
        <slot:leftColumn />
        <yield />
      </th>
      <th width="{{msoWidthRight}}" valign="{{vAlign}}" align="center"
        class="{{maxWidthRight}} {{hAlign}} {{vAlignClass}} font-base dark:text-white">
        <slot:rightColumn />
        <yield />
      </th>
    </tr>
  </table>
</else>