<script props>
  // safelist: max-w-[600px] max-w-[300px] max-w-[200px] max-w-[400px] max-w-[150px] max-w-[450px]
  const widthMap = {
    'w-1/2': '300',
    'w-1/3': '200',
    'w-2/3': '400',
    'w-1/4': '150',
    'w-3/4': '450',
  };

  module.exports = {
    hAlign: ['left', 'center', 'right'].includes(props.hAlign) ? `text-${props.hAlign}` : "",
    vAlign: ['top', 'middle', 'bottom'].includes(props.vAlign) ? props.vAlign : "top",
    widthLeft: () => {
      const widthValue = ['w-1/2', 'w-1/3', 'w-2/3', 'w-1/4', 'w-3/4'].includes(props.widthLeft) ? props.widthLeft : 'w-1/2';
      return `w-[${widthMap[widthValue]}px]`;
    },
    widthRight: () => {
      const widthValue = ['w-1/2', 'w-1/3', 'w-2/3', 'w-1/4', 'w-3/4'].includes(props.widthRight) ? props.widthRight : 'w-1/2';
      return `w-[${widthMap[widthValue]}px]`;
    },
    maxWidthLeft: () => {
      const widthValue = widthMap[props.widthLeft] ?? widthMap['w-1/2'];
      return `max-w-[${widthValue}px]`;
    },
    maxWidthRight: () => {
      const widthValue = widthMap[props.widthRight] ?? widthMap['w-1/2'];
      return `max-w-[${widthValue}px]`;
    },
    shouldStack: props.isResponsive !== false && props.isResponsive !== "false",
    msoWidthLeft: widthMap[props.widthLeft] ?? widthMap['w-1/2'],
    msoWidthRight: widthMap[props.widthRight] ?? widthMap['w-1/2']
  };
</script>
<if condition="shouldStack">
  <div data-component="twocols-div" data-component-variant="{{widthLeft}}--{{widthRight}}" class="text-0">
    <outlook>
      <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
          <td align="center" valign="top" width="{{msoWidthLeft}}" class="text-0">
    </outlook>
    <div
      class="gmailResponsiveCol {{maxWidthLeft}} w-full {{hAlign}} {{`align-${vAlign}`}} inline-block sm:w-full sm:max-w-full font-normal font-base dark:text-white ogsc:text-white text-base">
      <slot:leftColumn />
      <yield />
    </div>

    <outlook>
      </td>
      </tr>
      </table>
    </outlook>

    <outlook>
      <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
        <tr>
          <td align="center" valign="top" width="{{msoWidthRight}}" class="text-0">
    </outlook>

    <div
      class="gmailResponsiveCol {{maxWidthRight}} w-full {{hAlign}} {{`align-${vAlign}`}} inline-block sm:w-full sm:max-w-full font-normal font-base dark:text-white ogsc:text-white text-base">
      <slot:rightColumn />
      <yield />
    </div>

    <outlook>
      </td>
      </tr>
      </table>
    </outlook>
  </div>
</if>
<else>
  <table class="w-full" data-component="twocols-div" data-component-variant="{{widthLeft}}--{{widthRight}}">
    <tr>
      <th width="{{msoWidthLeft}}" valign="{{vAlign}}" align="center"
        class="{{maxWidthLeft}} {{hAlign}} {{`align-${vAlign}`}} font-base dark:text-white ogsc:text-white">
        <slot:leftColumn />
        <yield />
      </th>
      <th width="{{msoWidthRight}}" valign="{{vAlign}}" align="center"
        class="{{maxWidthRight}} {{hAlign}} {{`align-${vAlign}`}} font-base dark:text-white ogsc:text-white">
        <slot:rightColumn />
        <yield />
      </th>
    </tr>
  </table>
</else>