<script props>
  const titleType = {
    h1: 'text-3xl font-bold text-slate-800 dark:text-slate-200 ogsc:text-slate-200',
    h2: 'text-2xl font-bold text-slate-800 dark:text-slate-200 ogsc:text-slate-200',
    h3: 'text-xl font-bold text-slate-800 dark:text-slate-200 ogsc:text-slate-200',
    h4: 'text-lg font-bold text-slate-800 dark:text-slate-200 ogsc:text-slate-200',
    h5: 'text-base font-bold text-slate-800 dark:text-slate-200 ogsc:text-slate-200',
    h6: 'text-sm font-bold text-slate-800 dark:text-slate-200 ogsc:text-slate-200'
  }

  module.exports = {
    tag: () => {
      const validTags = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
      return validTags.includes(props.tag) ? props.tag : 'h1'
    },
    classes: () => {
      const baseClasses = titleType[props.tag] ?? titleType.h1
      return `${baseClasses} ${props.class || ''}`
    }
  }
</script>

<{{{ tag }}} class="{{ classes }}">
  <yield />
</{{{ tag }}}>